.header{
    background-image:url(imgg/bg.png);
    background-size:100% ;
    background-color: #ffffff;
}

.box{
    max-width: 640px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*border:1px solid red;*/
    position: relative;
    overflow: hidden;
    line-height: 1rem;


}

#xiala{
    position: fixed;
    bottom: 0%;
    left: 44%;
    width: 12%;
    height: 5%;
    z-index: 999;
    /*border: 1px solid red;*/

    /*transform: rotate(180deg);*/

    -moz-animation:lal 1s ease infinite ;
    animation:lal 1s ease infinite;
    -webkit-animation:lal 1s ease infinite ;
    -o-animation:lal 1s ease infinite ;
    -ms-animation:lal 1s ease infinite ;

}

@keyframes lal {
    50%{
        -webkit-transform:translateY(-30px) ;
        transform:translateY(-30px) ;
        -o-transform:translateY(-30px) ;
        -moz-transform:translateY(-30px) ;
        -ms-transform:translateY(-30px) ;
    }

}

@-webkit-keyframes lal {
    50%{
        -webkit-transform:translateY(-30px) ;
        transform:translateY(-30px) ;
        -o-transform:translateY(-30px) ;
        -moz-transform:translateY(-30px) ;
        -ms-transform:translateY(-30px) ;
    }

}

@-o-keyframes lal {
    50%{
        -webkit-transform:translateY(-30px) ;
        transform:translateY(-30px) ;
        -o-transform:translateY(-30px) ;
        -moz-transform:translateY(-30px) ;
        -ms-transform:translateY(-30px) ;
    }

}

@-moz-keyframes lal {
    50%{
        -webkit-transform:translateY(-30px) ;
        transform:translateY(-30px) ;
        -o-transform:translateY(-30px) ;
        -moz-transform:translateY(-30px) ;
        -ms-transform:translateY(-30px) ;
    }

}


@-ms-keyframes lal {
    50%{

        -webkit-transform:translateY(-30px) ;
        transform:translateY(-30px) ;
        -o-transform:translateY(-30px) ;
        -moz-transform:translateY(-30px) ;
        -ms-transform:translateY(-30px) ;
    }

}


#xiala img{
    width: 100%;
}

.ascender{
    width: 90%;
    height: 58%;
    background: url(imgg/xingz1.png) no-repeat 5px 30px;
    background-size: 100%;
    margin: 0 auto;
    position: relative;
}
.img1{
    width: 100%;
    position: absolute;
    top: 14%;
    left: 50%;
    margin-left: -50%;

    -moz-animation:rotate 1s ease infinite ;
    animation:rotate 1s ease infinite;
    -webkit-animation:rotate 1s ease infinite ;
    -o-animation:rotate 1s ease infinite ;
    -ms-animation:rotate 1s ease infinite ;

}



@keyframes rotate{
    0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg) ;
        -ms-transform:rotate(0deg) ;
        -moz-transform:rotate(0deg) ;
        -o-transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg) ;
        -ms-transform:rotate(360deg) ;
        -moz-transform:rotate(360deg) ;
        -o-transform: rotate(360deg);
    }
}


@-webkit-keyframes rotate {


    0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg) ;
        -ms-transform:rotate(0deg) ;
        -moz-transform:rotate(0deg) ;
        -o-transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg) ;
        -ms-transform:rotate(360deg) ;
        -moz-transform:rotate(360deg) ;
        -o-transform: rotate(360deg);
    }
}


@-o-keyframes rotate {


    0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg) ;
        -ms-transform:rotate(0deg) ;
        -moz-transform:rotate(0deg) ;
        -o-transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg) ;
        -ms-transform:rotate(360deg) ;
        -moz-transform:rotate(360deg) ;
        -o-transform: rotate(360deg);
    }
}


@-ms-keyframes rotate {


    0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg) ;
        -ms-transform:rotate(0deg) ;
        -moz-transform:rotate(0deg) ;
        -o-transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg) ;
        -ms-transform:rotate(360deg) ;
        -moz-transform:rotate(360deg) ;
        -o-transform: rotate(360deg);
    }
}


@-moz-keyframes rotate {


    0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg) ;
        -ms-transform:rotate(0deg) ;
        -moz-transform:rotate(0deg) ;
        -o-transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg) ;
        -ms-transform:rotate(360deg) ;
        -moz-transform:rotate(360deg) ;
        -o-transform: rotate(360deg);
    }
}




.img2{
    width: 116px;
    position: absolute;
    top: 22%;
    left: 50%;
    margin-left: -96px;


    -webkit-transform:translateX(-300px) ;
    transform: translateX(-300px);
    -ms-transform:translateX(-300px) ;
    -o-transform:translateX(-300px) ;
    -moz-transform:translateX(-300px) ;

 }
.img3{
    width: 58%;
    position: absolute;
    top: 29%;
    left: 2%;

    -webkit-transform:translateX(-300px) ;
    transform: translateX(-300px);
    -ms-transform:translateX(-300px) ;
    -o-transform:translateX(-300px) ;
    -moz-transform:translateX(-300px) ;
}
.img4{
    width: 120px;
    position: absolute;
    top: 32%;
    left: 50%;
    margin-left: -28%;


    -webkit-transform:translateX(-300px) ;
    transform: translateX(-300px);
    -ms-transform:translateX(-300px) ;
    -o-transform:translateX(-300px) ;
    -moz-transform:translateX(-300px) ;

}

.img5{
    width: 108px;
    position: absolute;
    top: 26%;
    left: 50%;
    margin-left: 10%;


    -webkit-transform:translateX(300px) ;
    transform: translateX(300px);
    -ms-transform:translateX(300px) ;
    -o-transform:translateX(300px) ;
    -moz-transform:translateX(300px) ;
}
.photo{
    width: 40%;
    border-radius: 50%;
    border: 2px solid #fff4f4;
    position: absolute;
    left: 50%;
    top:44%;
    margin-left: -20%;
    z-index: 4;

    -webkit-transform:scale(0) ;
    transform: scale(0);
    -o-transform:scale(0) ;
    -moz-transform:scale(0) ;
    -ms-transform:scale(0) ;

}
.img6{
    width: 232px;
    position: absolute;
    top: 50%;
    left: 10%;

    -webkit-transform:translateX(-300px) ;
    transform: translateX(-300px);
    -ms-transform:translateX(-300px) ;
    -o-transform:translateX(-300px) ;
    -moz-transform:translateX(-300px) ;

}
.but{
    width: 200%;
    height: 34%;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 3;
}
/*.but img{*/
    /**/
/*}*/
.but img:nth-child(1){
    bottom:0;
    z-index: 6;
    width: 50%;
    height: 100%;
    position: absolute;
    left:0;

    -webkit-transform:translateY(300px) ;
    transform: translateY(300px);
    -ms-transform:translateY(300px) ;
    -o-transform:translateY(300px) ;
    -moz-transform:translateY(300px) ;
}
.but img:nth-child(2){
    bottom:10px;
    z-index: 5;
    width: 50%;
    height: 100%;
    position: absolute;
    left:0;
}
.but img:nth-child(3){
    z-index: 7;
    width: 16%;
    height: 18%;
    position: absolute;
    left: 18%;
    bottom: 50%;
}
.Post{
    width: 34%;
    position: absolute;
    bottom: 42px;
    z-index: 7;
    left: 9%;
    background: #1aaec6;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    border-radius: 12px;
    font-family: '黑体';


    -webkit-transform:translateY(300px) ;
    transform: translateY(300px);
    -ms-transform:translateY(300px) ;
    -o-transform:translateY(300px) ;
    -moz-transform:translateY(300px) ;


}
.splicing{
    width: 100%;
    height: 100%;
    background:url(imgg/huanbg.png);
    background-size:100%;

}
.splicing .Splice{
    opacity: 0.2;

   }
.splicing .Splice:nth-child(1){
    position: absolute;
    top:0;
    left:0;
    width: 50%;


    -webkit-transform:translateX(-300px) ;
    transform: translateX(-300px);
    -ms-transform:translateX(-300px) ;
    -o-transform:translateX(-300px) ;
    -moz-transform:translateX(-300px) ;

}
.splicing .Splice:nth-child(2){
    position: absolute;
    bottom:0;
    right:0;
    width: 42%;

    -webkit-transform:translateX(300px) ;
    transform: translateX(300px);
    -ms-transform:translateX(300px) ;
    -o-transform:translateX(300px) ;
    -moz-transform:translateX(300px) ;
}
.splicing .dx{
    position: absolute;
    top:0;
    left:5%;
    width: 50%;


    -webkit-transform:translateX(-300px) ;
    transform: translateX(-300px);
    -ms-transform:translateX(-300px) ;
    -o-transform:translateX(-300px) ;
    -moz-transform:translateX(-300px) ;

}
.basie{
    width: 80%;
    height: 100%;
    margin: auto;

}
.pho_bg{
    width: 56%;
    position: absolute;
    top: 3%;
    left: 10%;

    -webkit-transform:scale(0) ;
    transform: scale(0);
    -o-transform:scale(0) ;
    -moz-transform:scale(0) ;
    -ms-transform:scale(0) ;

    border-radius:128px ;

}
.pho_bg1{
    width: 12%;
    position: absolute;
    top: 2%;
    right: 30%;
    /*animation: ss 1s linear infinite ;*/
    -webkit-transform:scale(0) ;
    transform: scale(0);
    -o-transform:scale(0) ;
    -moz-transform:scale(0) ;
    -ms-transform:scale(0) ;

}

@keyframes ss{
    0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg) ;
        -ms-transform:rotate(0deg) ;
        -moz-transform:rotate(0deg) ;
        -o-transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg) ;
        -ms-transform:rotate(360deg) ;
        -moz-transform:rotate(360deg) ;
        -o-transform: rotate(360deg);
    }
}


@-webkit-keyframes ss {


    0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg) ;
        -ms-transform:rotate(0deg) ;
        -moz-transform:rotate(0deg) ;
        -o-transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg) ;
        -ms-transform:rotate(360deg) ;
        -moz-transform:rotate(360deg) ;
        -o-transform: rotate(360deg);
    }
}


@-o-keyframes ss {


    0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg) ;
        -ms-transform:rotate(0deg) ;
        -moz-transform:rotate(0deg) ;
        -o-transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg) ;
        -ms-transform:rotate(360deg) ;
        -moz-transform:rotate(360deg) ;
        -o-transform: rotate(360deg);
    }
}


@-ms-keyframes ss {


    0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg) ;
        -ms-transform:rotate(0deg) ;
        -moz-transform:rotate(0deg) ;
        -o-transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg) ;
        -ms-transform:rotate(360deg) ;
        -moz-transform:rotate(360deg) ;
        -o-transform: rotate(360deg);
    }
}


@-moz-keyframes ss {


    0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg) ;
        -ms-transform:rotate(0deg) ;
        -moz-transform:rotate(0deg) ;
        -o-transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg) ;
        -ms-transform:rotate(360deg) ;
        -moz-transform:rotate(360deg) ;
        -o-transform: rotate(360deg);
    }
}



.pho_bg2{
    width: 20%;
    position: absolute;
    top: 3%;
    right: 8%;

}
.pho_bg3{
    width: 20%;
    position: absolute;
    top: 6%;
    right: 8%;

}
.pho_bg4{
    width: 40%;
    position: absolute;
    top: 9%;
    right: 0%;

}
.essential p{
    color: rgb(45, 116, 156);
    font-size: 1rem;
}
.essential{
    position: absolute;
    right:5%;
    top: 12%;
    color:#666666;
    opacity:1;
    font-family:黑体;
    line-height:1.2rem;


    -webkit-transform:translateX(300px) ;
    transform: translateX(300px);
    -ms-transform:translateX(300px) ;
    -o-transform:translateX(300px) ;
    -moz-transform:translateX(300px) ;
}
.lanbian{
    position: absolute;
    top: 36%;
    left: 4%;
    width: 80%;
    color: black;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    opacity: 1;

    -webkit-transform:scale(0) ;
    transform: scale(0);
    -o-transform:scale(0) ;
    -moz-transform:scale(0) ;
    -ms-transform:scale(0) ;

}
.lanbian1{
    position: absolute;
    top: 37%;
    left: 6%;
    width: 76%;
    opacity: 0.3;

    -webkit-transform:scale(0) ;
    transform: scale(0);
    -o-transform:scale(0) ;
    -moz-transform:scale(0) ;
    -ms-transform:scale(0) ;
}

.lanbian2{
    position: absolute;
    top: 44%;
    left: 8%;
    width: 72%;

    -webkit-transform:scale(0) ;
    transform: scale(0);
    -o-transform:scale(0) ;
    -moz-transform:scale(0) ;
    -ms-transform:scale(0) ;

}
.jieshao{

    display: inline-block;
    color: rgb(45, 116, 156);
    position: absolute;
    top: 39%;
    left: 24%;
    width: 42%;
    font-family: 黑体;
    font-size: 1.0rem;
    line-height: 1.3rem;

    -webkit-transform: translateY(-500px);
    transform:translateY(-500px);
    -moz-transform: translateY(-500px);
    -o-transform: translateY(-500px);
    -ms-transform: translateY(-500px);

}
.job{
    position: absolute;
    top: 34%;
    right: 4%;
    width: 24%;
    /*border: 1px solid red;*/
    display: inline-block;
    padding:4px ;
}
.huank{
    width: 100%;


}
.pp{
    position: absolute;
    top: 25%;
    left: 25%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 24px;
    font-family: 黑体;
}
.job p,.job1 p,.job2 p{
    margin:0;
}
.bluek{
    position: absolute;
    bottom: 20%;
    left: 2%;
    width: 14%;

}
.job1{
    position: absolute;
    bottom: 6%;

    width: 24%;
    /*border: 1px solid red;*/
    display: inline-block;
    padding:4px ;
}

.job2{
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 32%;
    /*border: 1px solid red;*/

}
.xiallank{
    position: absolute;
    /* margin-left: 10%; */
    /*border: 1px solid red;*/
    width: 60%;
    height: 50%;
    bottom: 0%;
    right: 0%;
}
.chaxian{
    width: 100%;
    position: absolute;
    /* margin-bottom: 53px; */
    bottom: -12px;
    left: 12%;

    -webkit-transform:translateX(300px) ;
    transform: translateX(300px);
    -ms-transform:translateX(300px) ;
    -o-transform:translateX(300px) ;
    -moz-transform:translateX(300px) ;
}
.lank{
    position: absolute;
    top: 4%;
    right: 4%;
    width: 12%;
}
.pp1{
    position: absolute;
    top: 25%;
    left: 25%;
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 24px;
    font-family: 黑体;
}
.bg{
   background: url(imgg/bg.png);
}
.used{
    width: 100%;
    height: 32%;
    position: relative;
    /*border:1px solid red;*/

}
.daojiao{
    width: 100%;
    height: 100%;


    -webkit-transform:translateY(-300px) ;
    transform: translateY(-300px);
    -ms-transform:translateY(-300px) ;
    -o-transform:translateY(-300px) ;
    -moz-transform:translateY(-300px) ;
}
.xingzua{
    width: 86%;
    height: 100%;
    position: absolute;
    top: -24%;
    left: 8%;


    -webkit-transform:translateY(-300px) ;
    transform: translateY(-300px);
    -ms-transform:translateY(-300px) ;
    -o-transform:translateY(-300px) ;
    -moz-transform:translateY(-300px) ;
}
.ee,.dbe,.gongzuo{

    -webkit-transform:translateX(-300px) ;
    transform: translateX(-300px);
    -ms-transform:translateX(-300px) ;
    -o-transform:translateX(-300px) ;
    -moz-transform:translateX(-300px) ;
}

.ee{
    width: 50%;
    position: absolute;
    top: 28%;
    left: 2%;
}
.dbe{
    position: absolute;
    top: 18%;
    left: 24%;
    width: 30%;
}
.gongzuo{
    width: 36%;
    position: absolute;
    top: 34%;
    left: 14%;
}
.jingli,.b9{
    -webkit-transform:translateX(300px) ;
    transform: translateX(300px);
    -ms-transform:translateX(300px) ;
    -o-transform:translateX(300px) ;
    -moz-transform:translateX(300px) ;
}


.jingli{
    width: 36%;
    position: absolute;
    top: 26%;
    right: 14%;

}
.b9{
    width: 46%;
    position: absolute;
    top: 66%;
    right: 4%;
}
.content{
    width: 96%;
    height:68% ;
    /*border:1px solid red;*/
    margin:4px auto;
    position: relative;
    text-align: center;
}
.jl1{
    position: absolute;
    top: 0;
    left: 0%;
    /*border: 1px solid red;*/
    width: 46%;
    color: rgb(45, 116, 156);
    font-weight: 700;
    font-size: 0.9rem;
    font-family: 黑体;

    -moz-transform: scale(2);
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);

    opacity: 0;
}
.tiao{
    width: 100%;
    height: 100%;
}
.jl2{
    position: absolute;
    top: 46%;
    left: 0%;
    /*border: 1px solid red;*/
    width: 46%;
    color: rgb(217, 41, 64);
    font-weight: 700;
    font-size: 0.9rem;
    font-family: 黑体;

    -moz-transform: scale(2);
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);

    opacity: 0;
}
.text-m{
    margin-left: 6%;

}
.text-m p{
    margin:0;
    line-height: 40px;

}
.f4{
    position: absolute;
    left: 48%;
    top: -8px;
    opacity: 0;
}
.da{

    -moz-transform: scale(2);
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);

    opacity: 0;
}
.da:nth-child(2){
    width: 6%;
    position: absolute;
    top: 14px;
    left: 46%;
}
.da:nth-child(3){
      width: 6%;
      position: absolute;
      top: 19%;
      left: 46%;
  }
.da:nth-child(4){
    width: 6%;
    position: absolute;
    bottom: 46%;
    left: 46%;
 }
.da:nth-child(5){
    width: 6%;
    position: absolute;
    bottom: 29%;
    left: 46%;
}
.jl3{
    position: absolute;
    top: 16%;
    right: 4%;
    /*border: 1px solid red;*/
    width: 46%;
    color: rgb(160, 6, 255);
    font-size: 0.9rem;
    font-family: 黑体;

    -moz-transform: scale(2);
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);

    opacity: 0;
}

.jl4{
    position: absolute;
    top: 62%;
    right: 4%;
    /*border: 1px solid red;*/
    width: 46%;
    color: rgb(30, 150, 92);
    font-size: 0.9rem;
    font-family: 黑体;

    -moz-transform: scale(2);
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);


    opacity: 0;
}
.ability{
    width: 100%;
    height: 100%;
    background: url(imgg/huanbg.png);
    background-size: 100%;
}

.ability .Splice1:nth-child(1){
    position: absolute;
    top: 2%;
    left: 4%;
    width: 50%;

    -webkit-transform:translateX(-214px) ;
    transform: translateX(-214px);
    -ms-transform:translateX(-214px) ;
    -moz-transform:translateX(-214px) ;
    -o-transform:translateX(-214px) ;
}
.ability .Splice1:nth-child(2){
    position: absolute;
    bottom:0;
    right:0;
    width: 42%;

    -webkit-transform:translateX(300px) ;
    transform: translateX(300px);
    -ms-transform:translateX(300px) ;
    -moz-transform:translateX(300px) ;
    -o-transform:translateX(300px) ;

}



.eig{
    width: 80%;
    position: absolute;
    top: 5%;
    left: 12%;
}
.eig1{
    width: 71%;
    position: absolute;
    top: 8%;
    left: 17%;
}
.eig2{
    width: 32%;
    position: absolute;
    top: 14%;
    left: 35%;
    -webkit-animation:scal 1s ease infinite ;
    animation: scal 1s ease infinite;
    -o-animation:scal 1s ease infinite ;
    -ms-animation:scal 1s ease infinite ;
    -moz-animation:scal 1s ease infinite ;
}
.eig3{
    width: 71%;
    position: absolute;
    top: 6%;
    left: 17%;

    -webkit-animation:rotate 1s ease infinite ;
    animation: rotate 1s ease infinite;
    -o-animation:rotate 1s ease infinite ;
    -ms-animation:rotate 1s ease infinite ;
    -moz-animation:rotate 1s ease infinite ;
}
.eig4{
    width: 70%;
    position: absolute;
    top: 4%;
    left: 18%;

}
/*.content{*/
    /*text-align: center;*/
/*}*/
@keyframes scal {
    0% {

        -moz-transform: scale(1);
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {

        -moz-transform: scale(2);
        transform: scale(2);
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
    }
}

@-webkit-keyframes scal {

    0% {

        -moz-transform: scale(1);
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {

        -moz-transform: scale(2);
        transform: scale(2);
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
    }

}

@-o-keyframes scal {

    0% {

        -moz-transform: scale(1);
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {

        -moz-transform: scale(2);
        transform: scale(2);
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
    }

}

@-ms-keyframes scal {

    0% {

        -moz-transform: scale(1);
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {

        -moz-transform: scale(2);
        transform: scale(2);
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
    }

}

@-moz-keyframes scal {

    0% {

        -moz-transform: scale(1);
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {

        -moz-transform: scale(2);
        transform: scale(2);
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
    }

}



.zhuanye{
    position: absolute;
    top: 14%;
    left: 30%;
    width: 28%;

    -moz-transform:scale(0) ;
    transform: scale(0);
    -ms-transform:scale(0) ;
    -webkit-transform:scale(0);
    -o-transform:scale(0);
}

.qiuzhi{
    position: absolute;
    top: 14%;
    left: 30%;
    width: 28%;
    /*transform: rotate(30deg);*/
    /*transform-origin:left top ;*/
    /*opacity: 0;*/

}
.nengli{
    position: absolute;
    top: 19%;
    left: 58%;
    width: 27%;

    -webkit-transform:rotate(42deg) ;
    transform: rotate(42deg);
    -moz-transform:rotate(42deg) ;
    -ms-transform:rotate(42deg) ;
    -o-transform:rotate(42deg) ;

    transform-origin: right bottom;
    opacity: 0;
}

.yiyang{
    position: absolute;
    top: 19%;
    left: 58%;
    width: 27%;

}


.lianxi{
    position: absolute;
    top: 19%;
    left: 58%;
    width: 27%;

}
.bliti{
    position: absolute;
    top: 24%;
    left: 12%;
    width: 40%;

}
.bliti1{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
/*.job3,.job4,.job5,.job6,.job8,.job9{*/
   /*opacity: 0;*/
/*}*/


.job3{
    position: absolute;
    top: 31%;
    width: 24%;
    /*border: 1px solid red;*/
    display: inline-block;
    padding: 4px;
    height: 12%;
    left: 40%;
    /*text-align: center;*/

}

.job5 .pp2{
    -webkit-transform:rotate(-432deg) ;
    transform: rotate(-432deg);
    -ms-transform:rotate(-432deg) ;
    -o-transform:rotate(-432deg) ;
    -moz-transform:rotate(-432deg) ;

    /*opacity: 1;*/
}
.job4 .pp2{
    -webkit-transform:translateY(74px) ;
    transform: translateY(74px);
    -o-transform:translateY(74px) ;
    -ms-transform:translateY(74px) ;
    -moz-transform:translateY(74px) ;
    /*opacity: 1;*/
}


.job6 .pp2{
    -webkit-transform: translateX(190px) ;
    transform: translateX(190px);
    -moz-transform: translateX(190px) ;
    -ms-transform: translateX(190px) ;
    -o-transform: translateX(190px) ;
}
.job8 .pp2{
    -webkit-transform: translateY(-190px) ;
    transform: translateY(-190px);
    -moz-transform: translateY(-190px) ;
    -ms-transform: translateY(-190px) ;
    -o-transform: translateY(-190px) ;
}

.job9 .pp2{
    -webkit-transform: translateY(190px) ;
    transform: translateY(190px);
    -moz-transform: translateY(190px) ;
    -ms-transform: translateY(190px) ;
    -o-transform: translateY(190px) ;
}

.pp2{
    opacity: 0;

}
.pp2{
    position: absolute;
    top: 18%;
    left: 14%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    font-family: 黑体;
    text-align: center;
}

.pp3{
    position: absolute;
    top: 8%;
    left: 24%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    /* line-height: 24px; */
    font-family: 黑体;
    text-align: center
}
.pp-2{
    position: absolute;
    top: 10%;
    left: 14%;
    color: rgb(255, 255, 255);
    font-size: 28px;
    line-height: 14px;
    font-family: 黑体;
    text-align: center;

    -moz-transform:scale(2) ;
    transform: scale(2);
    -ms-transform:scale(2) ;
    -webkit-transform:scale(2);
    -o-transform:scale(2);

    opacity: 0;

}
.pp-3{
    position: absolute;
    top: 10%;
    left: 30%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 14px;
    font-family: 黑体;
    text-align: center;;
}
.pp2 p{
    margin: 0;
}
.job4{
    position: absolute;
    top: 42%;
    left: 10%;
    width: 24%;
    height: 12%;
    /*border: 1px solid red;*/
    display: inline-block;
    padding: 4px;



}
.job5{
    position: absolute;
    top: 40%;
    right: 4%;
    width: 24%;
    height: 12%;
    /*border: 1px solid red;*/
    display: inline-block;
    padding: 4px;


}
.job6{
    position: absolute;
    bottom: 24%;
    left: 11%;
    width: 24%;
    height: 12%;

    display: inline-block;
    padding: 4px

}
.job7{
    position: absolute;
    bottom: 30%;
    left: 32%;
    width: 42%;
    height: 20%;

    display: inline-block;
    padding: 4px;


}
.job7 .bliti1{

    -moz-transform:scale(0) ;
    transform: scale(0);
    -ms-transform:scale(0) ;
    -webkit-transform:scale(0);
    -o-transform:scale(0);

}
.job8{
    position: absolute;
    bottom: 14%;
    left: 40%;
    width: 24%;
    height: 12%;
    /* border: 1px solid red; */
    display: inline-block;
    padding: 4px;
}


.job9{
    position: absolute;
    bottom: 24%;
    right: 4%;
    width: 24%;
    height: 12%;
    /* border: 1px solid red; */
    display: inline-block;
    padding: 4px
}

.qiu1,.qiu2,.qiu3,.qiu4,.qiu5,.qiu6{
    -moz-transform:scale(0) ;
    transform: scale(0);
    -ms-transform:scale(0) ;
    -webkit-transform:scale(0);
    -o-transform:scale(0);
}
.qiu1{
    position: absolute;
    top: 32%;
    left: 34%;
    width: 28%;
    height: 23%;
    display: inline-block;
    text-align: center;
}
.qiu2{
    position: absolute;
    top: 38%;
    right: 7%;
    width: 32%;
    height: 23%;
    display: inline-block;
}
.qiu3{
    position: absolute;
    top: 44%;
    left: 20%;
    width: 28%;
    height: 23%;
    display: inline-block;
}
.qiu4{
    position: absolute;
    top: 50%;
    left: 35%;
    width: 44%;
    height: 28%;
    display: inline-block;

}
.qiu5{
    position: absolute;
    top: 54%;
    left: 18%;
    width: 30%;
    height: 20%;
    display: inline-block;
}
.qiu6{
    position: absolute;
    bottom: 22%;
    right: 16%;
    width: 20%;
    height: 12%;
    display: inline-block;
}
.lixiang{
    position: absolute;
    bottom: 10%;
    left: 31%;
    width: 42%;
}
.qianm{
    position: absolute;
    bottom: 14%;
    left: 12%;
    width: 55%;
    line-height: 33px;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    background: #0085C5;
    text-align: center;
    border-radius: 18px;
    font-family: '黑体';
}
.contact {
    width: 100%;
    height: 100%;
    background: url(imgg/bg.png);

}
.zhaopin{
    position: absolute;
    top: 14%;
    left: 26%;
    width: 28%;
}
.erweima{
    width: 80%;
    position: absolute;
    bottom: 6%;
    left: 10%;
    border-radius: 40px;

}

/*这是轮播图的代码*/
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.p_img{
    width: 100%;
    height:18%;
    margin: 20px 0px;
    overflow: hidden;
    position: relative;
}
.img_box{
    width:500% ;
    position: absolute;
    top:0;
    left:0;

    -moz-transform:translateX(-20%) ;
    transform:translateX(-20%) ;
    -o-transform:translateX(-20%);
    -ms-transform: translateX(-20%) ;
    -webkit-transform: translateX(-20%) ;

}
.img_box li{
    width: 20%;
    display: inline-block;
    float: left;
}

.img_box img{
    width:100%;
    display: block;

}
.yuandian{
    position: absolute;
    bottom:2px;
    left:50%;
    width: 50%;

}
.yuandian li{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    float:left;
    background: #ffffff;
    margin: 3px;
}
.yuandian .bg1{
    background: #000;
}


#allmap{
    width: 90%;
    height:40%;
    margin:100px auto;
    border:1px solid #00b0e0;
}

.box1{
    perspective: 1000px;
    /*首先设置透视镜的效果*/
}
.content1{
    width: 200px;
    height: 200px;
    /*一定要写高度*/
    margin: 100px auto;
    /*定位是为了更好的展示效果*/
    text-align: center;
    line-height: 200px;
    position: relative;

    -ms-transform-style:preserve-3d ;
    transform-style: preserve-3d;
    -moz-transform-style:preserve-3d ;
    -o-transform-style:preserve-3d ;
    -webkit-transform-style:preserve-3d ;



    -ms-transform: rotateY(30deg);
    -o-transform: rotateY(30deg);
    -webkit-transform: rotateY(30deg);  /*整体进行30度的旋转*/
    -moz-transform:rotateY(30deg);
    transform:rotateY(30deg);

    /*下面进行兼容*/

    -webkit-animation: run 5s linear infinite;
    animation: run 5s linear infinite;
    -o-animation: run 5s linear infinite;
    -moz-animation: run 5s linear infinite;
    -ms-animation: run 5s linear infinite;
}

/*原理，设置六个  div ，样式大小都是一样的，跟随着父集的样式大小，进行绝对定位，同时注意每个div*/

.hh{
    text-align: center;
    color:#ffffff;
    font-family: '黑体';

}
.content1 .l_2{
    width: 100%;
    height: 100%;
    border:1px solid #1aaec6;
    position: absolute;
    top:0;
    left:0;
    background: rgba(26, 174, 198, 0.25);

}
.content1 .l_1{
    width: 50%;
    height: 50%;
    border:1px solid #1aaec6;
    position: absolute;
    top:25%;
    left:25%;
    background: rgba(26, 174, 198, 0.25);

}
.content1 .fonter1 {
    -webkit-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -moz-transform: translateZ(50px);

}
.content1 .back1 {
    -webkit-transform: translateZ(-50px);
    -o-transform: translateZ(-50px);
    transform: translateZ(-50px);
    -ms-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
}

.content1 .top1 {

    -webkit-transform: rotateX(90deg) translateZ(50px);
    transform: rotateX(90deg) translateZ(50px);
    -o-transform: rotateX(90deg) translateZ(50px);
    -ms-transform: rotateX(90deg) translateZ(50px);
    -moz-transform: rotateX(90deg) translateZ(50px);
}
.content1 .bottom1 {
    -webkit-transform: rotateX(-90deg) translateZ(50px);
    transform: rotateX(-90deg) translateZ(50px);
    -o-transform: rotateX(-90deg) translateZ(50px);
    -moz-transform: rotateX(-90deg) translateZ(50px);
    -ms-transform: rotateX(-90deg) translateZ(50px);
}
.content1 .left1 {
    -webkit-transform: rotateY(90deg) translateZ(50px);
    -o-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px);
    -moz-transform: rotateY(90deg) translateZ(50px);
    -ms-transform: rotateY(90deg) translateZ(50px);
}
.content1 .right1 {
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    -o-transform: rotateY(-90deg) translateZ(50px);
    transform: rotateY(-90deg) translateZ(50px);
    -moz-transform: rotateY(-90deg) translateZ(50px);
    -ms-transform: rotateY(-90deg) translateZ(50px);
}



.fonter {
    -webkit-transform: translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);
    -moz-transform:translateZ(100px) ;
    -ms-transform:translateZ(100px) ;
}
.back {
    -webkit-transform: translateZ(-100px);
    -o-transform: translateZ(-100px);
    transform: translateZ(-100px);
    -moz-transform:translateZ(-100px) ;
    -ms-transform:translateZ(-100px) ;
}

.top {

    -webkit-transform: rotateX(90deg) translateZ(100px);
    -o-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
    -ms-transform:rotateX(90deg) translateZ(100px) ;
    -moz-transform:rotateX(90deg) translateZ(100px) ;
}

.bot {

    -webkit-transform: rotateX(-90deg) translateZ(100px);
    transform: rotateX(-90deg) translateZ(100px);
    -o-transform: rotateX(-90deg) translateZ(100px);
    -moz-transform: rotateX(-90deg) translateZ(100px);
    -ms-transform: rotateX(-90deg) translateZ(100px);
}

.left {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
    -o-transform: rotateY(90deg) translateZ(100px);
    -moz-transform: rotateY(90deg) translateZ(100px);
    -ms-transform: rotateY(90deg) translateZ(100px);
}
.rt {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
    -o-transform: rotateY(-90deg) translateZ(100px);
    -moz-transform: rotateY(-90deg) translateZ(100px);
    -ms-transform: rotateY(-90deg) translateZ(100px);
}

@-webkit-keyframes run {
    /*每个节点都是以90 为变量进行递增的，一共分为五个节点*/

    0% {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);

    }
    50% {
        transform: rotateZ(180deg);
        -webkit-transform: rotateZ(180deg);
        -o-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);

    }
    75% {
        transform: rotateY(270deg);
        -webkit-transform: rotateY(270deg);
        -o-transform: rotateY(270deg);
        -ms-transform: rotateY(270deg);
        -moz-transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
    }

}

@-o-keyframes run {
    /*每个节点都是以90 为变量进行递增的，一共分为五个节点*/

    0% {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);

    }
    50% {
        transform: rotateZ(180deg);
        -webkit-transform: rotateZ(180deg);
        -o-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);

    }
    75% {
        transform: rotateY(270deg);
        -webkit-transform: rotateY(270deg);
        -o-transform: rotateY(270deg);
        -ms-transform: rotateY(270deg);
        -moz-transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
    }

}

@keyframes run {
    /*每个节点都是以90 为变量进行递增的，一共分为五个节点*/

    0% {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);

    }
    50% {
        transform: rotateZ(180deg);
        -webkit-transform: rotateZ(180deg);
        -o-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);

    }
    75% {
        transform: rotateY(270deg);
        -webkit-transform: rotateY(270deg);
        -o-transform: rotateY(270deg);
        -ms-transform: rotateY(270deg);
        -moz-transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
    }

}


@-ms-keyframes run {
    /*每个节点都是以90 为变量进行递增的，一共分为五个节点*/

    0% {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);

    }
    50% {
        transform: rotateZ(180deg);
        -webkit-transform: rotateZ(180deg);
        -o-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);

    }
    75% {
        transform: rotateY(270deg);
        -webkit-transform: rotateY(270deg);
        -o-transform: rotateY(270deg);
        -ms-transform: rotateY(270deg);
        -moz-transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
    }

}

@-moz-keyframes run {
    /*每个节点都是以90 为变量进行递增的，一共分为五个节点*/

    0% {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);

    }
    50% {
        transform: rotateZ(180deg);
        -webkit-transform: rotateZ(180deg);
        -o-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);

    }
    75% {
        transform: rotateY(270deg);
        -webkit-transform: rotateY(270deg);
        -o-transform: rotateY(270deg);
        -ms-transform: rotateY(270deg);
        -moz-transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
    }

}
